################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tamagotchi.slnx/FileContentIndex
/.vs/ProjectEvaluation/tamagotchi.projects.v10.bin
/.gitignore
/.vs/ProjectEvaluation/tamagotchi.strings.v10.bin
/.vs/Tamagotchi.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/Tamagotchi.slnx/v18/.futdcache.v2
/.vs/Tamagotchi.slnx/v18/DocumentLayout.backup.json
/.vs/Tamagotchi.slnx/v18/DocumentLayout.json
